body{
    background-image: 
        linear-gradient(
            to top right, black, yellow
        );
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.slider{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 200px;
    height: 300px;
    text-align: justify;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
    cursor: pointer;
}
#next{
    left: unset;
    right: 400px;
    cursor: pointer;
}